<h1>Stupid Coaching</h1>
<ul>
  <li><%= params[:answer] %></li>
  <li><em><%= "-You" %></em></li>
</ul>
<ul>
  <li><%= @answer  %></li>
  <li><em><%= "-Your coach" %></em></li>
</ul>

<%= link_to "Ask a new question", 'ask' %>
